/*
Theme Name:     Provost
Description:    Child theme for the Toolbox 
Author:         Duke Web Services
Template:       toolbox
Version:        0.1.0
*/



@import url("../Theme1/style.css");




#text-3{
  background: none repeat scroll 0 0 rgb(247,247,231);
  border-color:rgb(208,219,134);
  border-image:none;
  border-style:solid;
  border-width:3px 0;
  margin: 50px 0 0 0;

}


#text-3 ul{
padding:0 22px;
}

#text-3 ul li{
list-style-image:url('images/bullet.png');
margin:10px 5px;
font-size: .8em;

}





/* Resource List*/

 #accordion{
		position:relative;
		width:100%;
		padding:0;
		margin: 20px 0 0 0;
	}
		
		 #accordion .tlevel:first-child{
		position:relative;
		width:100%;
		border-top: 3px solid #A1B70D;
		border-bottom: 3px solid #A1B70D;
		}
		
		 #accordion .ui-state-active:first-child{
		
		border-bottom:none;
		}
		
		
		
		
		
		 #accordion .tlevel{
		position:relative;
		width:100%;
		border-bottom: 3px solid #A1B70D;
		}
		
		
		 #accordion .ui-state-active{
		border-bottom:none;
		
		}
		
		
		
		 #accordion .tlevel .icon{
			display: inline-block;
			background: url('images/collapse-icons.png') 0 -18px no-repeat;
			height: 18px;
			width: 18px;
			margin:5px;
			float:left;
		}
		
		
		 #accordion .ui-accordion-header-active .icon{
		    display: inline-block;
			background: url('images/collapse-icons.png') 0 0 no-repeat;
			height: 18px;
			width: 18px;
			margin:5px;
			float:left;
		
		}
	
		 #accordion .tlevel h3{
			position:relative;
			font-weight: bold;
			font-size: 1.15em;
			color: #3F3838;
			float:left;
			margin:5px;
			
		}
		
			 #accordion .blevel{
				position:relative;
				border-top: 1px dashed #A1B70D;
				margin:5px 0;
				height: auto !important;
			
			}
			
			

#page_content li {
margin: 10px 0;
}

#featured_image{
position:relative;
width:100%;

}

#page_caption{
position:absolute;
 right:1%;
}

#image_caption{
 font-size:12px;
 font-style:italic;
 margin:0;
 padding:0;
 
}


.bottomBorder {
margin-bottom: 40px;
}



#map-canvas {
        margin: 0;
        padding: 0;
        height: 300px;
        width:325px;
        max-width:100%;
        float:right;
      }


  
/* Media Queries */


@media only screen 
and (min-width : 320px) 
and (max-width : 480px){


#map-canvas {
        margin: 0 3px 40px 3px;
        padding: 0;
        height: 300px;
        width:325px;
        max-width:100%;
        float:none;
      }
      
      
#featured_image{

 margin-bottom:25px;
}

#page_caption{
	margin-top:-4px;
}


}	


@media only screen 
and (min-width : 480px) 
and (max-width : 768px){


#map-canvas {
        margin: 0 3px 40px 3px;
        padding: 0;
        height: 300px;
        width:325px;
        max-width:100%;
        float:none;
      }

}





/* Clearfix ----------- */

/* Some clearfix code from HTML5 Boilerplate */
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}